template#alterar-cracha-template
  .d-flex.flex-column.w-100.gap-2.my-3
    h6 {{Nome}}
    input.form-control.form-control-lg.px-5.py-3(type='text', value='{{nome}}')
    input.form-control.form-control-lg.px-5.py-3(type='text', value='{{matricula}}')
    select.form-select.form-select-lg.px-5.py-3
      each curso in cursos
        option(value=curso.id_curso)= curso.nome_curso