template#criar-cracha-template
  #overlay.scroll
    .container.h-100
      .d-flex.flex-column.align-items-center.h-100
        form.card.rounded-5.p-5.w-75.my-auto
          .d-flex.flex-column.align-items-center.gap-3.position-relative
            button.btn-close.position-absolute.top-0.end-0.fs-5.translate-middle(onclick='hidePopup()')
            img.mb-3(src='assets/images/logo2.png', style='height: 5em;', alt='Logo')
            h5 Criando o Crachá
            .align-self-start
              h6 Tamanho
              p Padrão (7cm x 10cm)

            input.form-control.form-control-lg.px-5.py-3(type='text', placeholder='Informe o nome do aluno')
            input.form-control.form-control-lg.px-5.py-3(type='text', placeholder='Informe a matrícula do aluno')
            select.form-select.form-select-lg.px-5.py-3
              option(selected='', hidden='') Selecione o curso do aluno

            button.btn.btn-primary.px-5.py-3 Criar