template#deletar-cracha-template
  #overlay.scroll
    .container.h-100
      .d-flex.flex-column.align-items-center.h-100
        form.card.rounded-5.p-5.w-75.my-auto
          .d-flex.flex-column.align-items-center.gap-3.position-relative
            button.btn-close.position-absolute.top-0.end-0.fs-5.translate-middle(onclick='hidePopup()')
            img.mb-3(src='assets/images/logo2.png', style='height: 5em;', alt='Logo')
            h5 Deletar Crachá(s)

            p.card-text Deletar os crachás selecionados?

            .d-flex.gap-3
              button.btn.btn-primary Deletar
              button.btn.btn-danger(onclick='hidePopup()') Cancelar