template#aviso-template
  #overlay
    .container.h-100
      .d-flex.flex-column.h-100
        .card.p-3.my-auto
          .card-body.d-flex.flex-column
            p.card-title Primeiramente, vamos falar sobre segurança!
            p.card-text Ao utilizar o nosso produto, você concorda que está ciente que a falsidade ideológica é um crime previsto em lei e consiste na alteração ou ocultação de informações em documentos. Portanto, ao clicar em "entendi" você confirma que respeitará a veracidade desse documento e estará consciente de que a prática desse ato pode resultar em penalidades legais.
            a.card-link(href='https://www.planalto.gov.br/ccivil_03/decreto-lei/del2848compilado.htm') Saiba mais
            .d-flex.justify-content-center.mt-3
              button.btn.btn-primary.px-5.py-2(onclick="hidePopup()") Entendi