extends templates/layoutIndex

block templates
  include ./disclaimer
  include ./criarCracha
  include ./deletarCracha
  include ./alterarCracha
  include ./alterarCrachaContainer
  include ./exportarCracha
  include ./components/card
  include ./components/loading

block content
  section.border-top.border-bottom
    .container.py-5
      .row.row-gap-5
        .col-lg.order-2.order-lg-1.d-flex.flex-column.gap-2
          p.text-center Antigas Criações

          #listaCracha
            ul.list-group.row-gap-1.px-4.rounded-4
              
        .col-lg-3.order-3.order-lg-2.d-flex.flex-column.justify-content-center.px-5.row-gap-2
          button#criar-btn.btn.btn-primary.rounded-3(onclick='showPopup("#criar-cracha-template")')
            .px-4.py-1 Criar

          button#deletar-btn.btn.btn-primary.disabled.rounded-3(onclick='showPopup("#deletar-cracha-template")')
            .px-4.py-1 Deletar

          button#exportar-btn.btn.btn-primary.disabled.rounded-3(onclick='showPopup("#exportar-cracha-template")')
            .px-4.py-1 Exportar

          button#modificar-btn.btn.btn-primary.disabled.rounded-3(onclick='showPopupEditCard("#alterar-cracha-template")')
            .px-4.py-1 Modificar

        .col-lg.order-1.order-lg-3.d-flex.flex-column.align-items-center.gap-2
          p Visualizar
          img#crachaPreview.border(src='assets/images/crachasPlaceholder.jpg', alt='Crachá de identificação')

  section.border-bottom
    .container.py-4
      .row.row-gap-5
        .col-lg-8
          .d-flex.flex-column
            p Qual nosso objetivo?
            p A missão do IFID é aprimorar a praticidade para os estudantes do IFPA que dependem do crachá de identificação para ingressar na instituição e desempenhar suas atividades, aqui, você poderá criar, modificar e exportar o seu crachá institucional de maneira fácil, rápida e intuitiva!
            p Nosso objetivo é disponibilizar o acesso ao crachá para atender às diversas necessidades de usuários em todos os anos de ensino, considerando diferentes perfis e exigências de recursos, seja para a criação individual ou para múltiplos usuários.
            a.btn.btn-primary.rounded-3.align-self-center(href='https://github.com/IF-ID/Documentacao')
              .px-4.py-1 Saiba mais

        .col-lg-4
          .d-flex.flex-column.align-items-center.gap-2
            p Acesse os sites da Instituição
            a.w-50(href='https://belem.ifpa.edu.br/')
              img.w-100(src='assets/images/ifpa.png', alt='Logo IFPA')
            a.w-50(href='https://sigaa.ifpa.edu.br')
              img.w-100(src='assets/images/sigaa.png', alt='Logo Sigaa')

block scripts
  script(src='/js/validate.js') 
  script(src='/js/cards.js')
  script(src='/js/select.js')