extends templates/layoutIndex

block content
  header.container.mt-5
    h1 Termos de uso
    
    p Ao acessar ao site IFID, concorda em cumprir estes termos de serviço, todas as leis e regulamentos aplicáveis ​​e concorda que é responsável pelo cumprimento de todas as leis locais aplicáveis. Se você não concordar com algum desses termos, está proibido de usar ou acessar este site. Os materiais contidos neste site são protegidos pelas leis de direitos autorais e marcas comerciais aplicáveis.

  section.container
    h2 Licença MIT

    p Direitos autorais (c) 2023 IF-ID
    p Por meio desta, concede-se permissão, gratuitamente, a qualquer pessoa que obtenha uma cópia deste software e dos arquivos de documentação associados (o "Software"), para lidar com o Software sem restrições, incluindo, sem limitação, os direitos de usar, copiar, modificar, mesclar, publicar, distribuir, sublicenciar e/ou vender cópias do Software, e permitir que pessoas a quem o Software é fornecido façam o mesmo, sujeitas às seguintes condições:
    p O aviso de direitos autorais acima e este aviso de permissão devem ser incluídos em todas as cópias ou partes substanciais do Software.
    p O SOFTWARE É FORNECIDO "COMO ESTÁ", SEM GARANTIA DE QUALQUER TIPO, EXPRESSA OU IMPLÍCITA, INCLUINDO, MAS NÃO SE LIMITANDO ÀS GARANTIAS DE COMERCIALIZAÇÃO, ADEQUAÇÃO A UMA FINALIDADE ESPECÍFICA E NÃO INFRAÇÃO. EM NENHUM CASO OS AUTORES OU DETENTORES DOS DIREITOS AUTORAIS SERÃO RESPONSÁVEIS POR QUALQUER REIVINDICAÇÃO, DANOS OU OUTRA RESPONSABILIDADE, QUER EM UMA AÇÃO DE CONTRATO, DELITO OU OUTRA FORMA, DECORRENTE DE, OU EM CONEXÃO COM O SOFTWARE OU O USO OU OUTRAS NEGOCIAÇÕES NO SOFTWARE.
    
  section.container
    h2 Isenção de responsabilidade

    p Os materiais no site da IFID são fornecidos 'como estão'. IFID não oferece garantias, expressas ou implícitas, e, por este meio, isenta e nega todas as outras garantias, incluindo, sem limitação, garantias implícitas ou condições de comercialização, adequação a um fim específico ou não violação de propriedade intelectual ou outra violação de direitos.
    p Além disso, o IFID não garante ou faz qualquer representação relativa à precisão, aos resultados prováveis ​​ou à confiabilidade do uso dos materiais em seu site ou de outra forma relacionado a esses materiais ou em sites vinculados a este site.

  section.container
    h2 Limitações

    p Em nenhum caso o IFID ou seus fornecedores serão responsáveis ​​por quaisquer danos (incluindo, sem limitação, danos por perda de dados ou lucro ou devido a interrupção dos negócios) decorrentes do uso ou da incapacidade de usar os materiais em IFID, mesmo que IFID ou um representante autorizado da IFID tenha sido notificado oralmente ou por escrito da possibilidade de tais danos. Como algumas jurisdições não permitem limitações em garantias implícitas, ou limitações de responsabilidade por danos consequentes ou incidentais, essas limitações podem não se aplicar a você.

  section.container
    h2 Precisão dos materiais

    p Os materiais exibidos no site da IFID podem incluir erros técnicos, tipográficos ou fotográficos. IFID não garante que qualquer material em seu site seja preciso, completo ou atual. IFID pode fazer alterações nos materiais contidos em seu site a qualquer momento, sem aviso prévio. No entanto, IFID não se compromete a atualizar os materiais.

  section.container
    h2 Links

    p O IFID não analisou todos os sites vinculados ao seu site e não é responsável pelo conteúdo de nenhum site vinculado. A inclusão de qualquer link não implica endosso por IFID do site. O uso de qualquer site vinculado é por conta e risco do usuário.

  section.container
    h2 Modificações

    p O IFID pode revisar estes termos de serviço do site a qualquer momento, sem aviso prévio. Ao usar este site, você concorda em ficar vinculado à versão atual desses termos de serviço.

  section.container.mb-5
    h2 Lei aplicável

    p Estes termos e condições são regidos e interpretados de acordo com as leis do IFID e você se submete irrevogavelmente à jurisdição exclusiva dos tribunais naquele estado ou localidade.