template#card-template
  li.list-group-item.d-flex.justify-content-between.align-items-center.border(onclick='updatePreview({{id}})')
    span.text-capitalize {{nome}}
    input.form-check-input(type='checkbox' id='cracha1')