footer.px-5
  .row.py-3.my-4.border-top.row-gap-4.px-3
    .col-lg.my-auto.order-3.order-lg-1
      p.mb-0.text-light 2023 IFID

    .col-lg-1.my-auto.d-flex.justify-content-center.order-2.order-lg-2
      a(href='/') 
        img(src="assets/images/logo.png", alt="Logo IFID", height= 32)
  
    .col-lg.my-auto.d-flex.justify-content-end.order-1.order-lg-3
      ul.nav
        li.nav-item
          a.nav-link.px-2.text-light(href='/') Início
        li.nav-item
          a.nav-link.px-2.text-light(href='/termos-de-uso') Termos de Uso
        li.nav-item
          a.nav-link.px-2.text-light(href='/politica-de-privacidade') Política de Privacidade
