footer.px-5
  .container.py-3.my-4.border-top.row-gap-4.px-3
    .row
      .col-lg.my-auto.order-3.order-lg-1.text-light 2023 IFID

      .col-lg-1.my-auto.d-flex.justify-content-center.order-2.order-lg-2
        a(href='/') 
          img(src="assets/images/logo.png", alt="Logo IFID", height= 32)
    
      ul.nav.col-lg.my-auto.d-flex.justify-content-end.p-0.order-1.order-lg-3.gap-1
        li.nav-item
          a.nav-link.px-2.text-light(href='/') Página Inicial
        li.nav-item
          a.nav-link.px-2.text-light(href='/termos-de-uso') Termos de Uso
        li.nav-item
          a.nav-link.px-2.text-light(href='/politica-de-privacidade') Política de Privacidade
