doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body.d-flex.flex-column
    include ../components/header

    main.d-flex.flex-column.flex-grow-1
      block content

    include ../components/footer